/* h1{
    background-color: pink;
    color: green;
} */

#heading1{
    background-color: pink;
    color: green;
}
#heading2{
    background-color: orange;
    color: red;
}

#heading3{
    background-color: black;
    color: white;
}

.p1{
    background-color: aqua;
    color: brown;
}
.p2{
    background-color: blue;
    color: aqua;
}

/* img{
    height: 200px;
    width: 200px;
    background-color: red;
} */


//9548529401 

