*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #444;
    color: red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 64px 1fr 64px;
    height: 100vh;


}
body > * {
    padding: 1rem;
    border: 2px solid black;

}

header{
    grid-column: 1/-1;;
}
footer{
    grid-column: 1/-1;;
}

@media(max-width:768px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 64px 1fr 1fr 64px ;
    }
}