*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 450px;
    /* background-color: red; */

}

#main h1{
    font-size: 40px;
    color: green;
    text-align: center;
    margin: 10px 20px;
}

#main .text , .image{
    width: 50%;
    height: 400px;
    /* background-color: yellow; */
    float: left;
    border: 1px solid #ddd;


    
}

.text p{
    font-size: 25px;
    padding: 30px;
    text-align: justify;
}

.image img{
    width: 100%;
    height: 350px;
    padding: 30px;
}

@media (max-width:768px){
    #main h1{
        color: pink;
    }
    #main .text p{
        font-size: 15px;

    }
    .image img{
        width: 100%;
        height: auto;
    }

}

@media (min-width:768px) and (max-width:1600px){
    body{
        background-color: red;
    }
}


@media(max-width:450px){
    #main h1{
        color: blue;
        font-size: 32px;
    }
    #main .text , .image{
        width: 100%;
    }
    #main .text{
        height: auto;
    }
    .text p{
        font-size: 18px;
    }
    #main .image{
        height: auto;
    }
    #main .image img{
        height: auto;
    }
}


@media (min-width:1600px){
    #main .image {
        width: 50%;
        height: auto;
    }

    .image img{
        width: 100%;
        height: auto;
    }
    #main .text , .image{
        width: 50%;
    }
    #main .text{
        height: auto;
    }
    .text p{
        font-size: 18px;
    }
   
}



